<!DOCTYPE html><html lang="in"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<meta name="pageImpressionID" content="5e677da1-b703-4dba-9222-cb715ea5fbd2">
<meta name="pageKey" content="cws-followcompany">
<meta name="analyticsURL" content="/analytics/noauthtracker">
<link rel="shortcut icon" type="image/ico" href="favicon_v3.ico">
<link rel="apple-touch-icon-precomposed" href="http://www.linkedin.com/img/icon/apple-touch-icon.png">
<link rel="openid.server" href="https://www.linkedin.com/uas/openid/authorize">
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>
<title>Followcompany Widget | LinkedIn</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="pageKey" content="cws-followcompany">
<meta name="IN-signin" content="/cws/login-popup">
<meta name="IN-signin-secure" content="https://www.linkedin.com/cws/login-popup">
<link rel="stylesheet" type="text/css" href="css.css">
<script type="text/javascript" src="anonymoususerspace.js"></script>
<script type="text/javascript" src="js.js"></script>
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>
<link rel="stylesheet" type="text/css" href="css-1.css">
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script></head>
<body class="in guest v2  chrome-v4 background-v4 sticky-bg guest js  framed" id="pagekey-cws-followcompany">
<input id="inSlowConfig" value="false" type="hidden">
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>
<div id="frame">
<div style="width: 121px;" id="body">
<div class="wrapper">
<div id="global-error">
</div>
<div class="body">
<div id="yui-gen1" title="" class="action follow-actions">
<span class="IN-followcompany right">
<a data-in-event-id="li_gen_1358413121428_0" class="IN-follow IN-signin">
<span class="IN-logo">in</span>
<span class="title">
<span class="title-text follow">Follow</span>
<input value="4.685" name="" id="post-follow-count" type="hidden">
</span>
</a>
<span class="IN-right container">
<span class="outer">
<span class="inner">
<span class="count">4.684</span>
</span>
</span>
</span>
</span>
</div>
<script id="controlinit-d8bd3fe2-9151-4800-8df5-a894419b558b-1" type="text/javascript+initialized" class="li-control"><!--
--></script>
</div>
<div id="carat"></div>
</div>
</div>
</div>
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>
<div id="frame"></div>
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>
<script type="text/javascript" src="js-1.js"></script>
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>


</body></html>