<!DOCTYPE html><html class="js"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="x-dns-prefetch-control" content="off">
        <link rel="icon" href="favicon.gif" type="image/gif">

        <!--
             _        _   _
            | |      | | | |
            | |  __  | | | |  __             __   _  _
            |/  /  \_|/  |/  /  \_|  |  |_  /  \_/ |/ |
            |__/\__/ |__/|__/\__/  \/ \/    \__/   |  |_/
            |\
            |/
                .                                 .o8       oooo
              .o8                                "888       `888
            .o888oo oooo  oooo  ooo. .oo.  .oo.   888oooo.   888  oooo d8b
              888   `888  `888  `888P"Y88bP"Y88b  d88' `88b  888  `888""8P
              888    888   888   888   888   888  888   888  888   888
              888 .  888   888   888   888   888  888   888  888   888    .o.
              "888"  `V88V"V8P' o888o o888o o888o `Y8bod8P' o888o d888b   Y8P                       -->


        <style type="text/css"><!--
/* Effective stylesheet produced by snapshot save */
* { margin: 0px; padding: 0px; }
body { background: none repeat scroll 0% 0% transparent; overflow: hidden; float: left; }
#follow_button { position: relative; float: left; font: 700 12px/22px "Helvetica Neue",Helvetica,Arial,Sans-serif; padding: 1px; white-space: nowrap; text-decoration: none; -moz-user-select: none; border-radius: 3px 3px 3px 3px; }
#follow_button .label { position: relative; height: 22px; display: block; z-index: 2; padding: 0px 8px; line-height: 22px; border-radius: 2px 2px 2px 2px; vertical-align: top; white-space: nowrap; }
#follow_button .label .tumblelog_name { display: inline-block; padding-left: 16px; overflow: hidden; max-width: 103px; text-overflow: ellipsis; white-space: nowrap; }
#follow_button .label i { font-style: normal; display: inline-block; vertical-align: top; }
#follow_button.light { background: none repeat scroll 0% 0% rgb(242, 242, 242); }
#follow_button.light .label { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(80, 80, 80); }
#follow_button.light:hover { background: none repeat scroll 0% 0% rgb(229, 229, 229); }
#follow_button.light:hover .label { background: none repeat scroll 0% 0% rgb(253, 253, 253); }
#follow_button.light:active, #follow_button.light.type_1:active, #follow_button.light.type_1:active:hover { background: none repeat scroll 0% 0% rgb(187, 187, 187); box-shadow: 0px 0px 0px transparent; }
#follow_button.light:active .label, #follow_button.light.type_1:active .label { background: none repeat scroll 0% 0% rgb(247, 247, 247); color: rgb(123, 123, 123); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
#follow_button.dark { background: none repeat scroll 0% 0% rgb(0, 0, 0); color: rgb(255, 255, 255); }
#follow_button.dark .label { background: none repeat scroll 0% 0% rgb(0, 0, 0); }
#follow_button.dark:hover { background: none repeat scroll 0% 0% rgb(0, 0, 0); }
#follow_button.dark:hover .label { background: none repeat scroll 0% 0% rgb(62, 62, 62); }
#follow_button.dark:active, #follow_button.dark.type_1:active, #follow_button.dark.type_3:active { background: none repeat scroll 0% 0% rgb(30, 30, 30); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25); }
#follow_button.dark:active .label, #follow_button.dark.type_1:active .label { background: none repeat scroll 0% 0% rgb(54, 54, 54); color: rgba(255, 255, 255, 0.7); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
#follow_button.type_1 .label .tumblelog_name { background: url("follow_button_sprite.png") no-repeat scroll 0px -22px transparent; }
#follow_button.light.type_1 { background: -moz-linear-gradient(center top , rgb(229, 228, 228) 0px, rgb(193, 193, 193) 100%) repeat scroll 0% 0% transparent; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.075); }
#follow_button.light.type_1 .label { background: -moz-linear-gradient(center top , rgb(250, 250, 250) 0px, rgb(240, 240, 240) 100%) repeat scroll 0% 0% transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75) inset; }
#follow_button.light.type_1:hover { background: -moz-linear-gradient(center top , rgb(223, 223, 223) 0px, rgb(174, 174, 174) 100%) repeat scroll 0% 0% transparent; }
#follow_button.dark.type_1 { background: none repeat scroll 0% 0% rgb(17, 17, 17); box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }
#follow_button.dark.type_1 .label { color: rgba(255, 255, 255, 0.7); background: -moz-linear-gradient(center top , rgb(79, 79, 79) 0px, rgb(68, 68, 68) 100%) repeat scroll 0% 0% transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset; }
#follow_button.dark.type_1 .label .tumblelog_name { background-position: 0px -22px; }
#follow_button.dark.type_1:hover { background: none repeat scroll 0% 0% rgb(30, 30, 30); }
#follow_button.dark.type_1:hover .label { background: -moz-linear-gradient(center top , rgb(93, 93, 93) 0px, rgb(81, 81, 81) 100%) repeat scroll 0% 0% transparent; }
#follow_button.dark.type_1:active { background: none repeat scroll 0% 0% rgb(0, 0, 0); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25); }
#follow_button.dark.type_1:active .label { color: rgba(255, 255, 255, 0.5); background: -moz-linear-gradient(center top , rgb(54, 54, 54) 0px, rgb(51, 51, 51) 100%) repeat scroll 0% 0% transparent; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25) inset; }
#follow_button.light.type_1 .label .tumblelog_name { background-position: 0px 0px; }
#follow_button.type_3 .label { overflow: hidden; height: 16px; width: 16px; padding: 0px; text-indent: -999em; background-image: url("follow_button_sprite.png"); background-repeat: no-repeat; }
#follow_button.type_3:hover .label, #follow_button.type_3:active .label { background-image: url("follow_button_sprite.png"); background-repeat: no-repeat; }
#follow_button.light.type_3 .label { background-position: 4px -47px; }
#follow_button.dark.type_3 .label { background-position: 4px -70px; }
#follow_button.type_1 .type_2, #follow_button.type_1 .type_3, #follow_button.type_1 .type_4, #follow_button.type_2 .type_1, #follow_button.type_2 .type_3, #follow_button.type_2 .type_4, #follow_button.type_3 .type_1, #follow_button.type_3 .type_2, #follow_button.type_3 .type_4, #follow_button.type_4 .type_1, #follow_button.type_4 .type_2, #follow_button.type_4 .type_3 { display: none; }
--></style>
        <script src="ga.js"></script><script type="text/javascript" src="follow_button.js" id="follow_button_languages"></script>
        <script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>
    </head>
    <body class="light">
        <a href="http://www.tumblr.com/register/follow/miramax" id="follow_button" class="light type_1" target="_new">
            <span class="type_1 label tumblelog_on_tumblr"><b id="tumblelog_name" class="tumblelog_name">miramax</b><i>  on Tumblr</i></span>
            <span class="type_2 label follow_on_tumblr">Follow on Tumblr</span>
            <span class="type_3 label">Tumblr</span>
            <span class="type_4 label join_tumblr">Join Tumblr</span>
        </a>
        <script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>
        <script><!--
/* Script removed by snapshot save */
--></script>
    

</body></html>