<!DOCTYPE ><html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Processing</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>
<style><!--
/* Effective stylesheet produced by snapshot save */
* { margin: 0px; padding: 0px; }
html { overflow: hidden; }
body { background: none repeat scroll 0% 0% transparent; position: relative; }
--></style>
</head>
<body>
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script><iframe id="li_gen_1358413119635_0" name="li_gen_1358413119635_0" src="unnamed.html" style="visibility: visible; background: none repeat scroll 0% 0% transparent; width: 121px; height: 20px;" allowtransparency="true" framspacing="0" frameborder="0"></iframe>
<script type="text/javascript"><!--
/* Script removed by snapshot save */
--></script>


<div><form target="li_gen_1358413119635_0" action="http://www.linkedin.com/cws/followcompany" method="GET" id="li_gen_1358413119668_1_form"><input name="companyIdentifier" value="9952" type="hidden"><input name="counterPosition" value="right" type="hidden"><input name="original_referer" value="http://www.miramax.com/" type="hidden"><input name="token" value="" type="hidden"><input name="isFramed" value="false" type="hidden"><input name="lang" value="en_US" type="hidden"><input name="" value="" type="hidden"><input name="_ts" value="1358413119668.0715" type="hidden"></form></div></body></html>