/* Effective stylesheet produced by snapshot save */
body {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;
	font-weight: 300;
	background-color: #E0F8B6;
}
#page, #site #page, #dynamic-content { min-height: 1000px; }
h1, h2, h3, h4, h5 { font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif; font-weight: 300; }
h1 a, h2 a, h3 a, h4 a, h5 a { color: rgb(53, 53, 53); }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover { color: rgb(53, 53, 53); }
h2.entry-title { font-size: 18px ! important; }
a:hover { text-decoration: underline; }
a.button:hover { text-decoration: none; }
blockquote { border-left: 5px solid rgb(204, 204, 204); color: rgb(136, 136, 136); }
.entry_content { font-size: 103%; }
.content .content-pad { padding: 5px; }
#header {
	height: 110px;
	border-bottom: 2px solid rgb(200, 200, 200);
	padding: 0px 10px;
	background-attachment: scroll;
	background-color: #86c214;
	background-image: none;
	background-repeat: repeat;
	background-position: 0% 0%;
}
#header .outline { height: 100%; width: 1024px; margin: auto; }
#branding { height: 100%; }
#branding .mainlogo-link { width: 300px; padding-top: 5px; margin-left: -10px; }
#branding .content-pad { padding: 25px 5px 0px; }
#nav { position: relative; bottom: 68px; left: 320px; width: 704px; z-index: 1000; }
#nav .content { width: 704px ! important; }

.navigation_wrap { border: 0px none; }
.navigation_wrap .main_nav { margin-right: 0px; }

.main_nav ul li { margin-right: 7px; }

.main-nav2 li a {
	font-family: Helvetica, sans-serif;
	font-size: 153.9%;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
}

.main-nav2 li a:hover {
	color: #060 ! important;
	background-attachment: scroll;
	background-image: none;
	background-repeat: repeat;
	background-position: 0% 0%;
}

.navigation_wrap .searchform { position: absolute; right: -5px; top: 3px; z-index: 999; }
#header .searchfield { margin-bottom: 0px; background-color: rgb(255, 255, 255); border: 1px solid rgb(104, 104, 104); color: rgb(33, 33, 33); font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif; font-size: 14px; font-weight: 300; height: 28px; }
.searchform .searchfield { padding-left: 25px; border-radius: 5px 5px 5px 5px; }
.center .searchform .searchfield { padding-left: 28px; }
#secondnav { position: absolute; left: 0px; top: 0px; z-index: 1000; }
#secondnav .content { width: 500px ! important; }
#secondnav .secondnav_menu { margin: 0px 0px 0px -5px; min-width: 300px; overflow: hidden; }
#secondnav a {
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #FFF;
}
#secondnav a:hover {
	color: #CCC;
	text-decoration: none;
}
#page-main { padding: 0px 10px; }
#featurenav { padding-left: 25px; }
#featurenav a { background-color: rgb(200, 200, 200) ! important; }
#featurenav a.activeSlide { background-color: rgb(0, 0, 0) ! important; }
#footer { background: none repeat scroll 0% 0% #86c214; padding: 10px 10px 0px; margin-top: 25px; }
#footer a:link, #footer a:active, #footer a:visited { color: #000 ! important; }
#footer a:hover { color: rgb(255, 255, 255) ! important; text-decoration: none ! important; }
.plimage { display: none; }
.pp5 .footcol-pad { padding-left: 0px ! important; }
#wp-comments .copy-pad h2 { font-size: 86%; color: rgb(204, 204, 204); padding-bottom: 20px; }
textarea { color: rgb(0, 0, 0) ! important; font-size: 1em ! important; }
.post-meta { margin-bottom: 0px; }
.metabar, .post-meta .metabar { font-size: 86%; color: rgb(136, 136, 136); }
.metabar em { font-style: normal; }
.mcolumn-pad { padding-left: 5px ! important; }
.post-excerpt { margin-top: 0px ! important; }
.post-excerpt > :first-child { margin-top: 0px ! important; }
.entry_content :first-child { margin-top: 0px; }
.wp-caption { width: 100% ! important; background-color: transparent; border: 0px none; border-radius: 0px 0px 0px 0px; }
.wp-caption img { border: 1px solid rgb(104, 104, 104); padding: 0px; margin-bottom: 2px; }
.wp-caption .aligncenter .wp-caption-dd { text-align: center; }
.wp-caption .alignleft .wp-caption-dd { text-align: left; }
.wp-caption-dd { font-style: normal; }
.wp-caption-text { color: rgb(51, 51, 51); }
.pullquote-left { float: left; width: 300px; margin: 0.25em 1em 0.25em 0px; padding: 0px 10px 10px 0px; font-size: 28px; color: rgb(104, 104, 104); font-weight: bold; line-height: 1.15em; }
.pullquote-right { float: right; width: 300px; margin: 0.25em 0px 0.25em 1em; padding: 0px 0px 10px 10px; font-size: 28px; color: rgb(104, 104, 104); font-weight: bold; line-height: 1.15em; }
.advanced-recent-posts li { clear: both; }
.recent-posts-thumb { float: left; padding: 0px 10px 15px 0px; }

#feature_slider .fcontent .plmore { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.3); padding: 0px 7px 2px; margin: 5px 5px 5px 0px; }
#feature_slider .fcontent .plmore:hover { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5); }
#feature_slider .fcontent .pledit { background: none repeat scroll 0px center transparent; }
#feature_slider .fcontent a:link, #feature_slider .fcontent a:visited { color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; text-shadow: none; }
#feature_slider .fcontent a:hover { color: rgb(255, 255, 255); text-decoration: none; opacity: 1; }
#feature_slider .text-bottom .fcontent .ftext { font-size: 100%; line-height: 1em; }

.feature-poster {  }
.fp-left { text-align: left; padding: 35px 0px 0px 35px; }
.fp-center { text-align: center; padding: 35px 0px 0px; }
.fp-right { text-align: right; padding: 35px 35px 0px 0px; }
.feature-poster a { text-decoration: none; border: 0px none; }
.feature-poster a:hover { text-decoration: none; border: 0px none; }
.feature-poster img { height: 250px ! important; border: 1px solid rgb(104, 104, 104); }
.home-page-carousel #feature-area { margin-top: 25px; }
.screening-room-features span.nav_thumb { width: 100px ! important; height: 150px ! important; }
.screening-room-features span.nav_overlay { background: none repeat scroll 0px center transparent ! important; }
.callout-area { padding: 0px ! important; }
.callout_text-pad { padding: 0px ! important; }
.callout_head { font-size: 2em; }
.callout_action { margin-top: 5px; font-size: 1em; }
.section-boxes { margin-bottom: 25px ! important; }
.betterrelated p { margin: 0px ! important; }
.betterrelated ol { margin-top: 0px ! important; }
.tags .note { margin-top: 0px ! important; font-size: 83%; }
.pl-sharebar-pad { padding: 0px; }
.pl-sharebar-text { font-size: 77%; }
.section-postloop { border-bottom: 1px solid rgb(238, 238, 238); }
.masonry { margin-bottom: 200px; }
.masonry .masonry-brick { -moz-transition-property: none; }
h4.pin-title { font-weight: bold; }
.pin-excerpt { color: rgb(102, 102, 102); font-size: 93%; }
.scrollGallery2 { background-color: black; border-top: 3px solid black; border-bottom: 3px solid black; }
.scrollGallery2 .imagearea ul li img { border: 1px solid rgb(104, 104, 104); }
.scrollGallery2 .imagearea ul li .caption_container div { background-color: black; color: rgb(200, 200, 200); border: 0px none; font-size: 11px; }
.scrollGallery2 .thumbarea { border-top: 0px none; padding-bottom: 10px; }
.scrollGallery2 .thumbarea ul li:first-child { margin-top: 0px; }
.scrollGallery2 .thumbarea ul li img { border: 1px solid rgb(104, 104, 104); }
.scrollGallery2 .thumbarea ul li img:hover { border: 1px solid rgb(46, 171, 197); }
table.tcp_products_list, #content table.tcp_products_list { border-spacing: 0px; margin: 0px 0px 20px; border: 0px none; padding: 10px 10px 10px 5px; background-color: rgb(255, 255, 255); color: rgb(136, 136, 136); }
table.tcp_products_list tr td, #content table.tcp_products_list tr td { border: 0px none; text-align: left; padding: 15px 15px 0px 0px; }
table.tcp_products_list h2 a, #content table.tcp_products_list h2 a { font-size: 18px; font-weight: normal; color: rgb(136, 136, 136); }
table.tcp_products_list img, #content table.tcp_products_list img { outline: medium none; -moz-transition: all 0.25s ease-in-out 0s ; border-radius: 3px 3px 3px 3px; border: 1px solid rgba(0, 0, 0, 0.2); }
table.tcp_products_list img { border: 1px solid rgba(0, 0, 0, 0.2) ! important; }
table.tcp_products_list img:hover, #content table.tcp_products_list img:hover { box-shadow: 0px 0px 10px rgb(4, 135, 163); border: 1px solid rgba(4, 135, 163, 0.8); }
table.tcp_products_list img:hover { border: 1px solid rgba(4, 135, 163, 0.8) ! important; }
.tcp_single_img_featured + p { margin: 0px; }
.tcp_attribute_list { text-align: left; }
.tcp_product .metabar { display: none; }
.tcp_single_img_featured { border: 1px solid rgb(200, 200, 200); }
.tcp_product .entry_content p { margin-top: 0px; font-size: 1.2em; line-height: 1.4em; }
div.cgview { text-align: left; }
div.cgview ul li { border-radius: 0px 0px 0px 0px; }
div.cgview.light ul li { border: 1px solid rgb(136, 136, 136); }
div.cgview.light ul li:hover { border: 1px solid rgb(0, 0, 0); }
div.cgview.light ul li img { margin-top: 0px ! important; }
div.cgview ul li div.cgback.hover { background-color: rgb(0, 0, 0); }
div.cgview ul li div.cgback.always { background-color: rgb(0, 0, 0); }
div.cgview ul li div.cgtitle p a { font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif; font-weight: 300; color: rgb(255, 255, 255) ! important; }
.custom-menu { float: left; }
.custom-menu ul { list-style: none outside none; margin-bottom: 0px; margin-left: 0px; }
.custom-menu li { float: left; padding: 15px 20px 0px 0px; margin-top: 0px ! important; margin-left: 0px ! important; }
.custom-menu li.current_page_item a, .custom-menu li.current_page_item a:hover { text-decoration: none; color: rgb(72, 72, 72); }
.tl-loop li { font-size: 100%; }
.tl-loop ul li, .widget ul li { padding-bottom: 10px; }
.mmx-loop-excerpt h2.entry-title { font-size: 18px ! important; }
.pds-answer-input { margin-top: 0px ! important; }
.dk-speakup-message { height: 100px ! important; }
.dk-speakup-progressbar-low { margin-top: 0px ! important; }
.dk-speakup-progressbar { margin-top: 0px ! important; }
.dk-speakup-progressbar-medium { background: url("urn:not-loaded:http://c15065204.r4.cf2.rackcdn.com/wp-content/themes/images/bg-progressbar.png") repeat-x scroll left top rgb(4, 188, 229); }
.dk-speakup-petition-wrap a:hover { text-decoration: none; }
.slickQuizWrapper .button { color: rgb(72, 72, 72) ! important; background-color: rgb(102, 102, 102) ! important; border: 1px solid rgb(200, 200, 200) ! important; margin-left: 20px; }
.slickQuizWrapper .startQuiz { margin-left: 0px; }
.slickQuizWrapper ul.answers li label { padding-left: 5px; }
.slickQuizWrapper ul.responses li.correct { color: green; font-weight: bold; margin-left: 0px; }
.slickQuizWrapper ul.responses li.incorrect { color: red; font-weight: bold; margin-left: 0px; }
.alamat{
	color:#000;
}
